<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <form action="/tts" method="POST">
        <input name="monument" type="text" placeholder="Enter the name of the monument" />
        <input type="submit" />
    </form>
</body>

</html>