<!doctype html>

<head>
	<title>Pure JavaScript Text to Audio</title>
	<link rel="stylesheet" href="../css/styles.css">
</head>

<body>
	<h2>JavaScript Text to Speech</h2>
	<div>
		<p id="text-to-speech"><%= textToBeSummarized %></p>
	</div>
	<div><button type="button" id="speak">Speak</button></div>
	<div><button id="toggle">>/||</button></div>
	<div><button id="stop">Stop</button></div>
	<br />
	<div><small><b>NOTE:</b> Enter text and click on speak button.</small></div>
	<script src="/scripts/tts.js">

	</script>
</body>

</html>